﻿<!doctype html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="keywords" content="Travel World">
    <meta name="description" content="Travel World">
    <meta name="author" content="travel-world.somee.com">
    <base target="_self" />
    <title>Travel World</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="header js-header js-dropdown">
            <div class="container" id="header-container" style="display: flex; justify-content: space-between;">
                <div class="header__logo">
                    <a href="/">
                        <img style="width: 175px;" src="~/Content/images/header-logo.png" alt="logo">
                    </a>

                </div>
                <div class="header__offset-btn">
                    <a href="@Url.Action("AddNewTopic", "Topic", User.Identity.IsAuthenticated ? new { UserId = (int)(Session["userId"] ?? 0) } : null)"><img src="~/fonts/icons/main/Logo_Forum.svg" alt="Add New Topic"></a>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="header__logo-btn" data-dropdown-btn="logo">
                        Log off
                    </div>
                }
                else
                {
                    <div class="header__logo-btn" data-dropdown-btn="logo">
                        Sign in
                    </div>
                }
            </div>
            <nav class="dropdown dropdown--design-01" data-dropdown-list="logo">
                @Html.Partial("_LoginPartial")
            </nav>
        </div>
    </header>

    <!-- MAIN -->
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <!-- FOOTER -->
    <footer>
        <div class="">
            <div class="container">

                <div class="footer__nav">
                    <div class="footer__bline">
                        <ul class="footer__menu">
                            <li class="footer__copyright"><span>&copy; @DateTime.Now.Year travel-world.somee.com</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>