﻿@model Forum.Models.MessageModel

@{
    ViewBag.Title = "Message Delete";
}




<div class="container body-content" style="margin-top: 20px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.TopicId)
        @Html.HiddenFor(x => x.UserId)
        @Html.HiddenFor(x => x.MessageText)
        <h3 style="text-align: center;">Are you sure you want to delete this message?</h3>
        <div class="form-group">
            <div class="row" style="display: flex; justify-content: center;">
                <input type="submit" value="Delete" class="btn btn-danger" style="margin-right: 20px;" />
                @Html.ActionLink("Back to List", "Topic", "Topic", new { Id = Model.TopicId }, htmlAttributes: new { id = "AddLink", @class = "btn btn-success" })
            </div>
        </div>


    </div>
    }
</div>



