﻿@model  Forum.Models.MessageModel

@{
    Layout = null;
    var action = Model.MessageId > 0 ? "EditMessage" : "AddNewMessage";
    var header = Model.MessageId > 0 ? "Edit message" : "Add new message";
    var buttonText = Model.MessageId > 0 ? "Save" : "Create";
    var messageModal = Model.MessageId > 0 ? "messageModalEdit-"+ Model.MessageId : "messageModalNew";
}

<div id="@messageModal">
    @using (Html.BeginForm(action, "Message", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "messageForm" + (Model.MessageId > 0 ? "-" + Model.MessageId : "") }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 style="text-align: center;">@header</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(x => x.TopicId)
            @Html.HiddenFor(x => x.UserId)
            @Html.HiddenFor(x => x.MessageId)

            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.MessageText, new { htmlAttributes = new { @class = "form-control", id = "MessageText" + (Model.MessageId > 0 ? "-" + Model.MessageId : "") } })
                    @Html.ValidationMessageFor(model => model.MessageText, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.MessageDateTime, new { htmlAttributes = new { @class = "form-control", type = "datetime-local",
                        @Value = action == "EditMessage" ? Model.MessageDateTime : Model.MessageDateTime = DateTime.Now} })
                    @Html.ValidationMessageFor(model => model.MessageDateTime, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }
    <div style="display: flex; justify-content: center;">
        <button class="btn btn-primary btn-lg" id="saveMessage-@Model.MessageId" style="margin-right: 20px;">@buttonText</button>
    </div>
</div>

