﻿@model Forum.Core.Models.Message
@{var authUser = (int)ViewData["AuthUser"]; }

<div class="row" style="padding-top: 5px; padding-bottom: 5px ;outline: 3px solid white; margin-bottom: 20px;" id="messageId-@Model.MessageId">
    <div class="col-xs-2" style="display: flex;align-items: center;justify-content: center; align-items: center;">
        @Html.Action("UserDetails", "Account", new { UserId = Model.UserId })
    </div>
    <div class="col-xs-9" style="padding: 10px 0; display: flex; align-items: center;">
        <p style="text-align: justify; margin: 0px;">@Html.Raw(Model.MessageText)</p>
    </div>
    <div class="col-xs-1" style="padding: 10px 0; display: flex; justify-content: center; align-items: center;">

        @if (authUser > 0 && authUser == Model.UserId)
        {
            <div id="openMessageModalEdit">
            </div>

                <ul>
                    <li style="margin-bottom: 10px;">
                        @Ajax.ActionLink("Edit", "EditMessage", new {MessageId = Model.MessageId}, new AjaxOptions
                        {
                            UpdateTargetId = "openMessageModalEdit", InsertionMode = InsertionMode.Replace,
                            OnSuccess = "afterMsgLoad(" + Model.MessageId + ")"
                        },
                            new {@class = "btn btn-success btn-sm", style = "width: 56px;"})
                    </li>
                    <li>
                        @Html.ActionLink("Delete", "DeleteMessage", new {MessageId = Model.MessageId}, new {@class = "btn btn-primary btn-danger btn-sm"})
                    </li>
                </ul>

        }
    </div>
</div>