﻿@{
    ViewBag.Title = "Confirm your email address";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Check your email and locate the confirmation email (subject: "Confirm your email address"). Follow the steps in the email to confirm your email address.
        @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>