﻿@model  Forum.Models.UserModel

    <div style="display: flex; flex-direction: column; justify-content: center;">

            <p style="text-align: center; margin: 0px;">@Model.UserName</p>
            @if (Model.AvatarData != null)
            {
                <div>
                    <img class="img-thumbnail" width="120" height="120" src="@Url.Action("GetImage","Account",new {Email = Model.UserLogin})" />
                </div>
            }
        </div>

