﻿@model Forum.Models.TopicModel

@{
    ViewBag.Title = "Topic Delete";
}


<h3>Are you sure you want to delete this topic?</h3>

<div class="container body-content" style="margin-top: 20px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.HiddenFor(x => x.TopicText)
                @Html.HiddenFor(x => x.TopicDateTime)
                @Html.HiddenFor(x => x.TopicName)
                @Html.DisplayNameFor(model => model.TopicName) :

                <strong>@Html.DisplayFor(model => model.TopicName)</strong>
                @Html.ValidationMessageFor(model => model.TopicName, "", new { @class = "text-danger" })

                <div class="row" style="display: flex; justify-content: center;">
                    <input type="submit" value="Delete" class="btn btn-danger" style="margin-right: 20px;" />
                    @Html.ActionLink("Back to List", "Topic", "Topic", new { Id = Model.TopicId }, htmlAttributes: new { id = "AddLink", @class = "btn bg-orange btn-flat margin" })
                </div>
            </div>
        </div>
    }

</div>



