﻿@model Forum.Core.Models.Topic[]
@{int userId = (int)(ViewData["userId"] ?? 0); }
<div class="col-md-12">
    @foreach (var itm in Model)
    {
        @Html.Partial("TopicSummary", itm)
    }
</div>

@*<div id="openNewTopicModal">
    </div>
    <div class="btn-group pull-right" style="display: flex; justify-content: center; margin: 15px 0;">
        @Ajax.ActionLink("New Topic", "AddNewTopic", "Topic", new { UserId = userId }, new AjaxOptions
    {
       UpdateTargetId = "openNewTopicModal",
       InsertionMode = InsertionMode.Replace,
       OnSuccess = "afterNewTopicLoad()"
    }, new { @class = "btn btn-success btn-sm", style = ""})
    </div>

    @section scripts {
        <script>

            function afterNewTopicLoad() {
                $("#openNewTopicModal").dialog({
                    autoOpen: false,
                    width: 800,
                    height: 540,
                    minWidth: 400,
                    minHeight: 200,
                    close: function () {
                        $('#TopicText').summernote('destroy');
                    }
                });
                $("#openNewTopicModal").dialog('open');

                $('#TopicText').summernote({
                    tabsize: 1,
                    focus: true,
                    width: 750,
                    height: 200
                });
                $("#TopicText").summernote("code", $('#TopicText').val());

                $("#saveTopic-0").click(function () {
                    $("#TopicText").val($('#TopicText').summernote("code"));
                    $("#openNewTopicModal").hide();
                    $("#TopicText").summernote("destroy");
                    $("#topicForm").submit();
                });
            }

        </script>
    }*@
