﻿@model  Forum.Models.TopicModel

@{
    var action = Model.TopicId > 0 ? "EditTopic" : "AddNewTopic";
    var header = Model.TopicId > 0 ? "Edit topic" : "Add new topic";
    var buttonText = Model.TopicId > 0 ? "Save" : "Create";
    var topicModal = Model.TopicId > 0 ? "topicModalEdit-" + Model.TopicId : "topicModalNew";
}

<div id="@topicModal">
    @using (Html.BeginForm(action, "Topic", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "topicForm" + (Model.TopicId > 0 ? "-" + Model.TopicId : "") }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="text-align: center">@header</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.TopicId)
        @Html.HiddenFor(model => model.UserId, new { Value = Model.UserId })

        <div class="form-group">
            <div class="col-md-12" style="display: flex; justify-content: center;">
                <b> @Html.DisplayNameFor(model => model.TopicName) : </b>
                @Html.EditorFor(model => model.TopicName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TopicName, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.TopicId > 0)
        {
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.TopicText, new { htmlAttributes = new { @class = "form-control", id = "TopicText" + (Model.TopicId > 0 ? "-" + Model.TopicId : "") } })
                    @Html.ValidationMessageFor(model => model.TopicText, "", new { @class = "text-danger" })
                </div>

            </div>
        }
        else
        {
            <div class="form-group">
                <div class="col-md-12" style="display: flex; justify-content: center;">
                    @Html.EditorFor(model => model.TopicText, new { htmlAttributes = new { @class = "form-control", id = "TopicText" + (Model.TopicId > 0 ? "-" + Model.TopicId : "") } })
                    @Html.ValidationMessageFor(model => model.TopicText, "", new { @class = "text-danger" })
                </div>

            </div>
        }
        <div class="form-group">
            <div class="col-md-12">
                @Html.HiddenFor(model => model.TopicDateTime, new { htmlAttributes = new { @class = "form-control", type = "datetime-local",
               @Value = action == "EditTopic" ? Model.TopicDateTime : Model.TopicDateTime = DateTime.Now} })
                @Html.ValidationMessageFor(model => model.TopicDateTime, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group" style="display: flex; justify-content: center;">
            <button class="btn btn-primary" id="saveTopic-@Model.TopicId" style="margin-right: 20px;">@buttonText</button>
        </div>
    </div>
    }
</div>

@section scripts {
    <script>
        $('#TopicText').summernote({
            tabsize: 1,
            focus: true,
            width: 750,
            height: 200
        });
        $("#TopicText").summernote("code", $('#TopicText').val());

        $("#saveTopic-0").click(function () {
            $("#TopicText").val($('#TopicText').summernote("code"));
            $("#TopicText").summernote("destroy");
            $("#topicForm").submit();
        });
    </script>
}
