﻿@model  Forum.Models.TopicModel

@{var AuthUser = ViewBag.AuthUser; }
<div class="row" style="margin: 20px 0px; outline: 3px solid white;" id="topic-@Model.TopicId">
    <div class="col-xs-2" style="display: flex;align-items: center;justify-content: center;">
        @Html.Action("UserDetails", "Account", new { UserId = Model.UserId })
    </div>
    <div class="col-xs-10">
        <h3>
            <strong>@Model.TopicName</strong>
        </h3>
        <p style="margin: 0; text-align: justify;">@Html.Raw(@Model.TopicText)</p>
        @if (AuthUser > 0 && AuthUser == Model.UserId)
        {
            <div class="row" style="display: flex; justify-content: center;">
                <div id="openTopicModalEdit">
                </div>
                <div class="row" style="display: flex; justify-content: center;">
                    @Ajax.ActionLink("Edit", "EditTopic", new { TopicId = Model.TopicId}, new AjaxOptions {
                        UpdateTargetId = "openTopicModalEdit", InsertionMode = InsertionMode.Replace,
                        OnSuccess = "afterTopicLoad("+ Model.TopicId + ")" },
                        new {@class = "btn btn-success btn-sm", style = "margin-right: 25px;" })
                    @Html.ActionLink("Delete", "DeleteTopic", new { TopicId = Model.TopicId }, new { @class = "btn btn-primary btn-danger btn-sm" })
                </div>
            </div>
        }
        <div style="display: flex; margin: 10px;">
            @if (AuthUser > 0)
            {
                <div id="openNewMessageModal">
                </div>
                <div style="width: 50%; text-align: right;">
                    @Ajax.ActionLink("New Message", "AddNewMessage", "Message", new { topicId = Model.TopicId }, new AjaxOptions
                    {
                        UpdateTargetId = "openNewMessageModal",
                        InsertionMode = InsertionMode.Replace,
                        OnSuccess = "afterNewMessageLoad()"
                    }, new { @class = "btn btn-info btn-sm", style = ""})
                </div>
            }
                <div style="width: 50%; text-align: right;">
                    @Model.TopicDateTime
                </div>
        </div>
        
    </div>

</div>

<div class="row" id="messageList" style="margin: 0px;">
    <div class="col-xs-12">
        @Html.Action("List", "Message", new { TopicId = Model.TopicId })
    </div>
</div>
@section scripts {
    <script>

        function afterMsgLoad(messageId) {
            var mId = messageId;
            $("#messageModalEdit-" + messageId).dialog({
                autoOpen: false,
                width: 800,
                height: 480,
                minWidth: 400,
                minHeight: 200,
                close: function () {
                    console.log(mId);
                    $('#MessageText-' + mId).summernote('destroy');
                }
            });
            $("#messageModalEdit-" + messageId).dialog('open');

            $('#MessageText-' + messageId).summernote({
                tabsize: 1,
                focus: true,
                width: 750,
                height: 200
            });
            $("#MessageText-" + messageId).summernote("code", $('#MessageText-' + messageId).val());

            $("#saveMessage-" + messageId).click(function() {
                $("#MessageText-" + messageId).val($('#MessageText-' + messageId).summernote("code"));
                console.log($('#MessageText-' + messageId).summernote("code"));
                $("#messageModalEdit-" + messageId).hide();
                $("#MessageText-" + messageId).summernote("destroy");
                $("#messageForm-" + messageId).submit();
            });
        }

        function afterTopicLoad(topicId) {
            var tId = topicId;
            $("#topicModalEdit-" + topicId).dialog({
                autoOpen: false,
                width: 800,
                height: 480,
                minWidth: 400,
                minHeight: 200,
                close: function () {
                    console.log(tId);
                    $('#TopicText-' + tId).summernote('destroy');
                }
            });
            $("#topicModalEdit-" + topicId).dialog('open');

            $('#TopicText-' + topicId).summernote({
                tabsize: 1,
                focus: true,
                width: 750,
                height: 200
            });
            $("#TopicText-" + topicId).summernote("code", $('#TopicText-' + topicId).val());

            $("#saveTopic-" + topicId).click(function () {
                $("#TopicText-" + topicId).val($('#TopicText-' + topicId).summernote("code"));
                console.log($('#MessageText-' + topicId).summernote("code"));
                $("#TopicText-" + topicId).summernote("destroy");
                $("#topicForm-" + topicId).submit();
            });
        }

        function afterNewMessageLoad() {
            $("#openNewMessageModal").dialog({
                autoOpen: false,
                width: 800,
                height: 480,
                minWidth: 400,
                minHeight: 200,
                close: function () {
                    $('#MessageText').summernote('destroy');
                }
            });
            $("#openNewMessageModal").dialog('open');

            $('#MessageText').summernote({
                tabsize: 1,
                focus: true,
                width: 750,
                height: 200
            });
            
            $("#saveMessage-0").click(function () {
                $("#MessageText").val($('#MessageText').summernote("code"));
                var msg = $('#MessageText').summernote("code");
                if (msg == "<p><br></p>") {
                    alert('Message text can\'t be empty');
            } else {
                $("#openNewMessageModal").hide();
                $("#MessageText").summernote("destroy");
                $("#messageForm").submit();
            }
        });
    }

   	
            var header = $('header');
      
            window.onscroll = function(){

                if (window.pageYOffset > 80) {
                    header.css("opacity","0.8");
                }
                else{
                    header.css("opacity", "1");
                }
            }


    </script>
}

