﻿@model Forum.Core.Models.Topic
<div class="well">
    <h5>@Html.ActionLink(Model.TopicName, "Topic", new { id = Model.TopicId })</h5>
        @*<a href="~/Topic/Topic?id=@Model.TopicId" style="width: 100%">*@
    <div style="height: 40px; overflow: hidden; white-space: nowrap;text-overflow: ellipsis;">@Model.TopicText</div>
</div>
